<div class="packaging-instruction-container">
  <div class="top-actions">
    <span class="back-link" (click)="goBackToTransaction()">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor">
        <path d="M10 18L2 10L10 2L11.4 3.4L5.8 9H18V11H5.8L11.4 16.6L10 18Z"/>
      </svg>
      Back to Transaction Details
    </span>
  </div>
  <h1 class="title">Packaging Instructions</h1>
    <p class="details">Prepare your appliance for pickup</p>
  <section class="instruction-card">
    <p class="card-intro">
        <strong>Packaging Instructions:</strong> Please follow these steps to ensure your appliance is safely prepared for pickup:
    </p>

    <ol class="steps">
        <li>Wrap fragile parts (e.g., control panels, knobs) with bubble wrap or soft padding.</li>
        <li>Secure the door or lid with strong tape to prevent it from opening during transit.</li>
        <li>Print the recovery slip and place together with the appliance in a sturdy box.</li>
        <li>Label the package with "<strong>Fragile</strong>" if applicable.</li>
    </ol>
    </section>
</div>