 <div class="title">
            <h1>Overview</h1>     
</div>

<div class="stats-grid">
            <div class="stat-card bg-blue">
                <div class="stat-label">Total Appliances Recovered</div>
                <div class="stat-value">{{ totalAppliancesRecovered() }}</div>
                <div class="stat-change">+6.08% <i class="bi bi-arrow-up-right"></i></div>
            </div>
            <div class="stat-card bg-pink">
                <div class="stat-label">Total Payouts</div>
                <div class="stat-value">RM {{ totalPayout() }}</div>
                <div class="stat-change">+11.01% <i class="bi bi-arrow-up-right"></i></div>
            </div>
            <div class="stat-card bg-green">
                <div class="stat-label">Active Recovery Transactions</div>
                <div class="stat-value">{{ totalActiveTransactions() }}</div>
                <div class="stat-change">+15.03% <i class="bi bi-arrow-up-right"></i></div>
            </div>
            <div class="stat-card bg-purple">
                <div class="stat-label">Active Users</div>
                <div class="stat-value">{{ totalActiveUsers() }}</div>
                <div class="stat-change">+15.03% <i class="bi bi-arrow-up-right"></i></div>
            </div>
</div>

<div class="chart-and-panel-container">

    <div class="chart-section">
        <div class="chart-card">
            <div class="chart-header">
                <div class="chart-tabs">
                    <button class="chart-tab"
                    [class.active]="activeGraphTab === 'appliance'"
                    (click)="switchGraphTab('appliance')">
                    Appliance Recovered</button>
                    <button class="chart-tab"
                    [class.active]="activeGraphTab === 'recoveryValue'"
                    (click)="switchGraphTab('recoveryValue')">
                    Recovery Value</button>
                </div>
                <div class="chart-controls">
                    <div class="custom-dropdown">
                        <button class="dropdown-trigger">
                            {{ getTimeRangeLabel() }} <i class="bi bi-chevron-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a (click)="switchTimeRange('weekly')">Weekly</a>
                            <a (click)="switchTimeRange('monthly')">Monthly</a>
    

                        </div>
                    </div>
                    <button class="btn"><i class="bi bi-three-dots"></i></button>
                </div>
            </div>
            <div class="chart-container">
                @if (isBrowser) {
                    <canvas baseChart
                        [data]="lineChartData"
                        [options]="lineChartOptions"
                        type="line">
                    </canvas>
                } @else{
                    <div class="chart-placeholder">
                        <p>Chart loading...</p>
              </div>
                }
            </div>
           
        </div>
    </div>

    <div class="panel-section">
         <div class="panel">
            <div class="panel-header">
                <div class="panel-title">Top Appliances</div>
                <div class="panel-controls">
                    <button class="btn"><i class="bi bi-three-dots"></i></button>
                </div>
            </div>

            <div class="panel-subheader">
                <div class="subheader-label">Appliance</div>
                <div class="subheader-label">Total Recovered</div>
            </div>
            @for (appliances of top5RecoveredModels(); track appliances.modelName) {
                <div class="top-item">
                    <div class="item-name">{{ appliances.modelName }}</div>
                    <div class="item-count">{{ appliances.applianceRecovered }}</div>
                </div>
            }
        </div>
    </div>
</div>

<div class="bar-and-pie-chart-container">

    <div class="bar-chart-section">
        <div class="bar-chart">
            <div class="chart-header">
                <div class="chart-tabs">
                    <button class="chart-tab">
                    {{ getBarTabLabel() }} Recovered Activities </button>

                </div>
                <div class="chart-controls">
                    <div class="custom-dropdown">
                        <button class="dropdown-trigger">
                            {{ getBarTabLabel() }} <i class="bi bi-chevron-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a (click)="switchBarTab('category')">Category</a>
                            <a (click)="switchBarTab('brand')">Brand</a>
                        </div>
                    </div>
                    <button class="btn"><i class="bi bi-three-dots"></i></button>
                </div>
            </div>
            <div class="chart-container">
                @if (isBrowser) {
                    <canvas baseChart
                        [data]="barChartData"
                        [options]="barChartOptions"
                        type="bar">
                    </canvas>
                } @else{
                    <div class="chart-placeholder">
                        <p>Chart loading...</p>
              </div>
                }
            </div>
           
        </div>
    </div>

    <div class="pie-chart-section">
        <div class="pie-chart">
            <div class="chart-header">
                <div class="chart-tabs">
                    <button class="chart-tab">
                     Condition Score by Appliance </button>

                </div>
                <div class="chart-controls">
                    <button class="btn"><i class="bi bi-three-dots"></i></button>
                </div>
            </div>
            <div class="chart-container">
                @if (isBrowser) {
                    <canvas baseChart
                        [data]="pieChartData"
                        [options]="pieChartOptions"
                        type="doughnut">
                    </canvas>
                } @else{
                    <div class="chart-placeholder">
                        <p>Chart loading...</p>
              </div>
                }
            </div>
           
        </div>
    </div>

</div>

<!-- Recent Orders Section -->
<div class="recent-orders-section">
    <div class="recent-orders-card">
        <div class="orders-header">
            <div class="orders-title">Recent Orders</div>
            <div class="orders-controls">
                 <button class="view-all-btn">View All Orders <i class="bi bi-arrow-right"></i></button>
                <button class="btn"><i class="bi bi-three-dots"></i></button>
            </div>
        </div>

        <div class="orders-table">
            <table>
                <thead>
                    <tr>
                        <th>Transaction ID</th>
                        <th>Appliance</th>
                        <th>Buyer ID</th>
                        <th>Offer Price</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @for (order of recentOrders(); track order.transactionID){
                        <tr>
                            <td>#{{order.transactionID}}</td>
                            <td>{{order.modelName}}</td>
                            <td>{{order.buyerID}}</td>
                            <td>{{formatCurrency(order.initialOfferPrice)}}</td>
                            <td>{{formatDate(order.createdAt)}}</td>
                            <td><span class="status" [ngClass]="getStatusClass(order.transactionStatus)">{{order.transactionStatus}}</span></td>
                        </tr>
                   }
                </tbody>
            </table>
        </div>

        <div class="orders-footer">
           
        </div>
    </div>
</div>

     